/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*padding: 3em;*/
	/*padding-top: 3em;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
/*	font-family: 'IBM Plex Sans', sans-serif;*/
	font-family: Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

svg {
	display: block;
	/*border: 1px solid red;*/
}

testsvg {
	display: block;
	/*border: 1px solid red;*/
}

header {
	height: 50px;
	/*background-color: rgba(0,0,0,0.05);*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:  3em 3em 1em 3em;
	/*padding: 0em 2em 0em 2em;*/
	/*border-bottom: 1px solid rgba(0,0,0,0.2);	*/
	/*background: #fff;*/
	/*filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.1));*/	
	/*position: fixed;*/
}

header a {
	text-decoration: none;
}

header img {
	height: 2em;
	margin-top: -1em;
	margin-right: 1em;
	/*padding-right: 1em;*/
	/*border-right: 1px solid rgba(0,0,0,0.2);*/
}

header .Logos img {
	filter: grayscale(100%);
}

#HamburgerMenu, #HamburgerIcon {
	display: none;
}

.Underline {
	border-bottom: 1px solid #000;
}

footer {
	margin-top: 3em;
	background-color: #3C4043;
	height:  8em;
	padding: 3em;
	display: flex;
}

footer img {
	height: 1.5em;
	padding-right: 1em;
	padding-bottom: 1.5em;
  -webkit-filter: invert(100%); 
          filter: invert(100%);
}

footer a {
	color:  rgba(255,255,255,0.75);
	font-size: 0.8em;
	display: block;
	line-height: 1.6em;
}

footer h4 {
	font-weight: 500;
	margin-top: 1em;
	margin-bottom: 0.5em;
	color:  #fff;
}

footer h3 {
	font-size: 1em;
	font-weight: 500;
	color:  rgba(255,255,255,0.5);
}

footer h2 {
	font-size: 1em;
	font-weight: 500;
	color: #fff;
}

footer .Column {
	width: 25%;
}

footer .Padding {
	display: none;
}

.MainContent {
	padding:  0em 3em 0em 3em;
}

.HLBorder {
	padding:  0em 3em 0em 1.5em;
	border-left: 1.5em solid #EAEAE3;
}

.Paper {
	background-color: #E9EAE3;
	padding-top: 2em;
	min-height: 18em;
	padding-bottom: 2em;
}

.Container {
	/*min-height: 28vh;*/
	display: flex;
}

.Container h2 {
	text-transform: uppercase;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
}

.Logos {
	display: flex;
}

.Nav li {
	display: inline-block;
	font-weight: 400;
	margin-right: 1em;
	padding-bottom: 0.25em;
	margin-bottom: 0.25em;
	border-bottom: 4px solid #fff;
}

.Nav li a {
	text-decoration: none;
	color: rgba(0,0,0,0.8);
}

.Nav li:hover {
	/*color:  #006FA9*/
	border-bottom: 4px solid #008D4E;
	cursor: pointer;
}

.ResponsiveNav {
	/*background-color: green;*/
	display: block;
	/*overflow-y: scroll;*/
}

.ResponsiveNav input {
	opacity: 0;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: red;
	margin-top: -30px;
	border:  1px solid blue;
}

.ResponsiveNav img {
	margin-top: 0em;	
}

h1 {
	font-size: 3.5em;
	letter-spacing: 0em;
	font-weight: 400;
	/*color: #006FA9;*/
}

h2 {
	font-size: 2em;
	font-weight: 300;
}

h4 {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 0.9em;
}

h5 {
	font-size: 0.5em;
}

.Affiliation {
	font-size: 0.7em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	color: rgba(0,0,0,0.6);
}
.DoubleRow {
	height: 3em;
}


#IssueContent {
	min-height: 100vh;
	display: block;
}

.Row {
	height: 1.5em;
}

.ContentBlock {
	margin-bottom: 2em;
	/*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

.SectionIntro {
	margin-top: 2em;
	font-weight: 400;
	max-width: 80%;
	line-height: 1.5em;
}

.SectionIntro a {
	color: #008D4E;
}

.SectionIntro h2 {
	margin-top: 1.5em;
	font-weight: 500;
	font-size: 1.5em;
	/*line-height: 2em;*/
	/*color:  #008D4E;*/
	border-bottom: 1px solid #008D4E;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	margin-bottom: 1em;
/*	max-width: 80%;*/
}

.SectionIntro h3 {
	text-transform: uppercase;
	margin-bottom: 1em;
	margin-top: 2em;
}

.SectionIntro h4 {
	margin-top: 0.5em;
}

.SectionIntro ul {
	margin-bottom: 2em;
}

.SectionIntro li {
	border-left: 1px solid #008D4E;
	margin-left: 1em;
	padding-left: 0.5em;
	margin-top: 1em;
}

.Download {
	margin-top: 4em;
	width:  60%;
	border-bottom: 1px solid #008D4E;	
}

.Download a {
	color: #008D4E;
}

.Section {
	width: 50%;
	padding-top: 3em;	
}

.Section-svg{
	width: 50%;
	padding-top: 1em;	
	padding-left: 2em;
	padding-right: 0em;
}

.Section li {
	padding-left: 0.5em;
	font-size: 1em;
}

.Section ul {
	margin-bottom: 1em;
}

.Section h1 {
	/*margin-bottom: 0.5em;*/
	font-size: 2.5em;
	letter-spacing: -0.05em;
}

.Section h2 {
	max-width: 80%;
}

.Section p {
	margin-top: 2em;
	line-height: 1.5em;
	font-size: 0.9em;
	max-width: 80%;
	margin-bottom: 2em;
}

.Section .ArrowBlock {
	max-width: 100%;
}

.SectionStart {
	margin-bottom: 2em;
}

.Title {
	margin-top: 3em;
	margin-bottom: 4em;
}

.Title h1 {
	font-weight: 300;
}

strong {
	color: #000;
	font-weight: 500;
}

light {
	font-weight: lighter;
}

accent {
	color: #008D4E;
}

.accent {
	color: #008D4E;	
}

.Clear {
	background-color: #fff;
}

.CalloutSection {
	display: flex;
}

.ArrowBlock {
	max-width: 50%;
}

.ArrowBlock p {
	margin-top: 1em;
	font-size: 0.75em;
	font-weight: 100;
	max-width: 80%;
}

.ArrowAction {
	display: flex;
	align-items: center;
	margin-top: 3em;
}

.ArrowAction img {
	height: 1.5em;
	margin-right: 0.75em;
}

.Breadcrumbs {
	display: flex;
	padding-top: 2em;
}

.Breadcrumbs img {
	height: 1em;
	margin: 0 0.5em 0 0.5em;
}

.ImageRow {
	display: flex;
	margin-right: 3em;
	flex-wrap: wrap;
}

.ImageRow img {
	height: 12em;
	margin-bottom: 0.5em;	
}

.Profile {
	margin-right: 3em;
	margin-bottom: 3em;
}

.Profile h3 {
	font-family: Helvetica, sans-serif;
	font-weight: 600;
	/*line-height: 1.5em;*/
	margin: 0.5em 0em 0.25em 0em;
	font-size: 1em;
}

.Profile h4 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	font-size: 1em;
	max-width: 90%;
}

.TableRow {
	display: flex;
	min-height: 2em;
	margin-bottom: 0.5em;
	font-family: 'IBM Plex Sans', sans-serif;
}

.TableRow >* {
	width: 30%;
}

.TableRow p {
	font-weight: 300;
	line-height: 1.2em;
}

.PaperHiglight {
	display: flex;
	margin-bottom: 3em;
}

.PaperHiglight img, svg {
		margin-right: 3em;
		display: block;
		/*border:  1px solid red;*/
}

.PaperHiglight img {
		height: 12em;
}

.PaperImage {
	background-color: #008D4E;
	height: 12em;
	width: 25em;
	margin-right: 3em;
	display: block;
}

.PaperDetails {
	max-width: 60%;
}

.PaperHiglight h2 {
	font-size: 1.5em;
	font-weight: 500;
	max-width: 75%;
}

.PaperHiglight h3 {
	font-size: 1em;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	max-width: 75%;
}

.PaperHiglight h4 {
	font-size: 1em;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-style: italic;
	max-width: 75%;
}

.PaperHiglight p {
	font-size: 0.9em;
	line-height: 1.2em;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	/*font-style: italic;*/
	max-width: 85%;
}

.Download {
	display: flex;
	align-items: center;
	padding-bottom: 1em;
	/*border-bottom: 1em solid #008D4E;*/
	cursor: pointer;
}

.Button {
	background-color: #008D4E;
	padding: 1em;
	margin-top: 1.5em;
	max-width: 50%;
	color: #fff;
	box-shadow: 5px 5px 0px #000;
}

.Download img {
	height: 1.5em;
	margin-right: 1em;
}

.Download h3 {
	color: #008D4E;
	font-weight: 400;
}

.Dropdown {
	display: inline-block;
	position: relative;
	margin-right: 1em;
	cursor: pointer;
}

.DropdownContent {
	display: none;
	position: absolute;
	min-width: 10em;
	background-color: #F8F8F5;
	border-top: 0.5em solid #fff;
	padding: 1em 1em 0em 0em;
	z-index: 1;	
}

.DropdownContent a {
	display: block;
	border-left: 0.5em solid #F8F8F5;
	padding-left: 0.5em;
	margin-bottom: 1em;
}

.DropdownContent a:hover {
	border-left: 0.5em solid #008D4E;
	border-bottom: none;
}

.DropdownContent li {
	border-bottom: 0px;
}

.DropdownContent a li:hover {
	border-bottom: 0px;
}

.DropdownContent li:hover {
	border-bottom: 0px;
}

.DropdownContent li:hover {
	border-bottom: 4px solid #fff;
}

.Dropdown:hover .DropdownContent {
	display: block;
}

.higlight {
	color: #008D4E;
}

@media only screen and (max-width: 1000px) {
	header .Nav {
		max-width: 100%;
		margin-left: 10%;
	}
	.Container {
		height: auto;
		display: flex;
		padding-bottom: 3em;
	}
}

@media only screen and (max-width: 800px) {
	header .Nav {
		margin-left: 50px;
	}

	header .Nav li {
		margin-bottom: 2px;
	}
}


@media only screen and (max-width: 650px) {
	header {		
		height: auto;
		/*min-height: 50px;*/
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 2em 1.5em 1em 1.5em;
		position: fixed;
		justify-content: start;
		flex-direction: row-reverse;
		width: 100%;
		background-color: rgba(255,255,255,0.9);
	}	

	header img {
		margin-top: 0px;
	}
	header .Logos {
		min-width: 50vw;
	}
	header .Nav {
		display: none;
		margin-top: 25px;
		margin: 2em 0em -1em 0em;
				z-index: 1;	
	}
	header .Nav a {
		display: block;
	}
	header #HamburgerMenu, #HamburgerIcon {
		display: block;
	}
	header .Dropdown {
		display: block;
		padding-bottom: 1em;
	}
	header .DropdownContent {
		margin-left: 1em;
		display: block;
		position: relative;		
		margin-bottom: -0.5em;
		padding-bottom: 0.5em;
	}
	header .DropdownContent a {
		margin-bottom: 0.5em;
		margin-right: 1em;
		line-height: 2em;
	}	
	header .ResponsiveNav input:checked ~ .Nav {
		display: inline-block;
		padding-top: 10px;
		height: 600%;

		width: 80%;
		overflow-y: scroll;
		position: absolute;
	}

	header .Nav {
		margin-top: 1em;
	}
  header .Nav li {
    /*display: none;*/
    display: block;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
  }
	.MainContent {
		padding:  4em 1.5em 0em 1.5em;
	}
	.Breadcrumbs {
		padding-top: 3em;
	}
	.Nav {
		background-color: #fff;
		box-shadow: 10px 5px 5px rgba(0,0,0,0.4);
		margin-top: -5em;
	}
	.HLBorder {
		padding:  0em 1em 0em 0.5em;
		border-left: 1.5em solid #EAEAE3;
	}
	.TableRow {
		font-size: 0.8em;
	}
	.TableRow >* {
		width: 23%;
		margin-right: 5px;
	}
  .SectionIntro {
		padding-left: 0em;
		max-width: 90%;
	}
  .Section {
		width: auto;
		padding-left: 1em;
		padding-top: 4em;	
	}
	.Container {
		margin-top: 2em;
		display: block;
	}
	.PaperHiglight {
		display: block;
	}

	.PaperHiglight h2 {
		min-width: 80vw;
	}

	.PaperHiglight p {
		min-width: 80vw;
	}

	.PaperHiglight img {
		width: 100%;
	}
	.Timeline {
		padding-top: 5em;
	}
	footer {
		padding: 1.5em;
	}
	footer .Column {
		min-width: 40px;
	}
	footer .Padding {
		display: none;
	}

}

@media only screen and (max-width: 575px) {

	.ImageRow img {
		height: 80vw;
	}

	.PaperHiglight svg {
		max-width: 80%;
		max-height: 220px;
	}

}
